################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestMakerFree/.vs

CurrencyExchangePredictor/\.vs/

CurrencyExchangePredictor/CurrencyExchangePredictor/bin/

CurrencyExchangePredictor/CurrencyExchangePredictor/obj/
