################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestMakerFree/.vs

/CurrencyExchange/.vs
/CurrencyExchange/CurrencyExchange.Predictor/.vs/CurrencyExchange.Predictor
/CurrencyExchange/CurrencyExchange.Predictor/bin/Debug/netcoreapp2.1
/CurrencyExchange/CurrencyExchange.Predictor/obj
